.header {
  @include wf;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  padding: 32px 64px 0;
  transition: 0.5s;
  z-index: 5;
  &.kodawari {
    background-color: unset;
    z-index: 999;
  }
  @include mq-down {
    background-color: rgba($color: $black, $alpha: 0.9);
    padding: 8px;
    height: 100px;
    position: fixed;
    top: 0;
  }
  @include mq-down(sm) {
    height: 64px;
  }
  &__logo {
    max-width: 492px;
    width: 100%;
    @include mq-down {
      max-width: 239px;
      margin: auto;
      padding: unset;
      transition: 0.3s;
    }
    @include mq-down(sm) {
      max-width: 128px;
    }
    &.active {
      z-index: 100;
      transition: 0.3s;
    }
  }
  &.active {
    background-color: rgba($color: $black, $alpha: 0);
    transition: 0.5s;
  }
}

.nav {
  position: fixed;
  top: 32px;
  right: 64px;
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  width: 100%;
  &__item {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }
}
